[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
python-twitter = "*"
us = "*"
python-dateutil = "*"
dj_database_url = "*"
whitenoise = "*"
csvkit = '*'

[requires]

python_version = "2.7"
